body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
  color: #66BFBF;
  line-height: 1.25;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;

}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  color: #40514E;
  line-height: 2;

}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
  width: 5%;
  border-color: #eaf6f6;
  margin: 100px auto;
}

a {
  color: #11999E;
  padding: 10px 20px;
text-decoration: none;
font-family: 'Montserrat', sans-serif;
font-size: 1.10rem;

}

a:hover{
  color: #EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding: 100px;
  padding-bottom: 0;

}

.middle-container{
  padding: 80px 0 100px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.pro {
  text-decoration: underline;
}

.profile-png{
  width: 15%;
}


.bottomcloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.topcloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.mountain{
  padding-bottom: 0;
}

.computer-png {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.controller-png {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}


.bottom-container {
  background: #66BFBF;
  padding: 50px 0 25px;

}

.contact-message{
  width: 40%;
  margin: 60px auto;
}

.about-me {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0 0 0;
}
